<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="alternate" type="application/rss+xml" href="feed">
    <link href='http://fonts.googleapis.com/css?family=Exo+2:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/foundation.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <script src="/js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }} | dojosto.com</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-322913-6', 'dojosto.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1><em>do</em>ug<em>jo</em>hn<em>sto</em>n</h1>
          <h2>Front-End Developer & Designer</h2>
          <ul class="inline-list">
            {% if include.home == "false" %}
              <li><a href="/">Home</a></li>
            {% endif %}
            <li><a href="https://github.com/dougjohnston">GitHub</a></li>
            <li><a href="https://twitter.com/dougjohnston">Twitter</a></li>
            <li><a href="http://www.linkedin.com/in/dougbjohnston">LinkedIn</a></li>
          </ul>
        </header>
