/* LAYOUT STYLES */
body {
  font-size: 1em;
  line-height: 1.5; 
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #666;
}

strong {
  color: #595959;
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}

small {
  font-size: 0.8em;
}

header {
  padding-top: 35px;
}

header h1, header h1 a {
  font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-weight: 600;
  font-size: 58px;
  line-height: 68px;
  color: #c0c0c0;
  margin-bottom: 0;
}

header h1 a:hover {
  color: #c0c0c0;
  text-decoration: none;
  border-bottom: 1px dotted #c0c0c0;
}

header h1 em {
  font-style: normal;
  font-size: 68px;
  color: #303030;
}

header h2 {
  font-family: 'Exo 2', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-weight: 400;
  font-size: 1.6rem;
  color: #aaa;
  margin-top: 0;
}

nav .active {
  font-weight: bold;
  border-bottom: 2px solid #333;
}

#container {
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
  min-height: 595px;
}

.inner {
  width: 620px;
  margin: 0 auto;
}

#container .inner img {
  max-width: 100%;
}

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #303030;
  color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #f2f2f2;
  background-color: #303030;
  border: none;
  padding: 0;
}

/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}

h1 {
  font-size: 2rem;
} 

h2 {
  color: #303030;
  font-size: 22px;
  font-weight: bold;
} 

h3 {
  color: #008cba;
  font-size: 18px;
  font-weight: bold;
} 
 
h4 {
  color: #303030;
  font-size: 16px;
  font-weight: bold;
} 

h5 {
  color: #303030;
  font-size: 1em;
} 

h6 {
  color: #303030;
  font-size: .8em;
} 

p {
  font-weight: 300;
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

dl dt {
  color: #303030;
}

footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}

footer a:hover {
  color: #444;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* PAGE SPECIFIC STYLES */
/* RESUME */
#contact-information h1 {
  font-size: 2.8rem;
  line-height: 3.2rem;
}

#contact-information h3 {
  font-weight: normal;
  font-size: 1.3rem;
  margin: 0;
}

.job h2 {
  margin-bottom: 0;
  font-size: 1.15rem;
  line-height: 1.3rem;
}

.job h2 small {
  font-size: 0.9rem;
  font-weight: normal;
}

.job h2 span {
  font-weight: normal;
  color: #666;
}

.job h3 {
  margin-bottom: 0;
  font-size: 1.05rem;
  font-weight: normal;
}

.job em {
  font-size: 0.9rem;
}

.job ul {
  margin: 0 0 1rem 2rem;
  list-style-type: square;
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
